.body{
    position : relative;
}

section {
    background-color:#e9eaf0;
}

section .img_info{
    padding : 50px;
    text-align: center;
}

.car_img{
   transition : all ease-in 500ms;
}
.car_img:hover{
    /* transform : scale(1.1) */
    position : relative;
    transform : translateX(-40px)
}

.car_img .car_photo{
    width : 300px;
}

.img_button{
    height : 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img_button .like{
    padding : 10px 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    transition : all  1000ms;

}

/*.img_button .like:hover{*/
/*    background-color: #ff4949;*/
/*    color : white;*/
/*    !* opacity: 0.4; *!*/
/*}*/

.info{
    /*background-color: rgba( 255, 255, 255, 0.3 );*/
    /*padding-right: 20px;*/

}

.company_logo{
    display: flex;
    justify-content: flex-end;
}

.company_logo .logo_photo{
    width : 50px;
}

.description{
    display:flex;
    flex-direction: column;
    text-align: right;
}

.description strong{
    font-size : 1.1rem;
    text-decoration: underline;
}
.description li{
    margin-bottom: 7px;
}
.description span {
    color : #0066ff;
    margin-right : 10px;
    font-weight: bold;
}

/* Comment */


/* Comment */

article .add_comment{
    display : flex;
    align-items: center;
    /* justify-content: space-around; */
}

article .add_comment .comment_area{
    border: none;
    resize: none;
    border : 1px solid black;
    width : 1000px;
}


article .comment_group {
    display: flex;
    padding: 20px 10px;
    margin-bottom: 12px;
    border: 1px solid black;
    background-color: #fff;
    /* justify-content: space-between; */
    align-items: center;
    position : relative;
    border-radius: 5px;
}

article .comment_group h3 {
    font-size : 15px;
}

article .comment_group span {
    font-size : 12px;
}

.id_time {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis : 15%;

}

.id_time h3 {
    margin: 0;
    margin-bottom: 5px;
}

.comment_group .comment{
    flex : none;
    flex-basis : 70%;

}

.comment_group .buttons-group{
    flex-basis : 15%;
    text-align: right;

}
.modified{
    background-color: #F9FAFA;
    padding : 6px 10px;
    color : black;
    border-radius : 5px;
    border : 0.5px solid #DBDEDF;
}

.delete{
    background-color: #F9FAFA;
    padding : 6px 10px;
    color : black;
    border-radius : 5px;
    border : 0.5px solid #DBDEDF;
}


/* Custom Grid System - Fix container width*/
@media screen and(min-width: 1200px) {
    .container {
        max-width: 960px !important;
    }
}

@media screen and (max-width: 768px) {

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description h1{
        text-align: center;
    }

    .description strong{
        text-align: center;
    }

    .description ul{
        text-align: center;
    }


    .car_img{
        margin-bottom : 20px;
    }

    .like{
        margin-bottom : 20px;
    }

    article .comment_group {
        display: flex;
        flex-wrap: wrap;

    }
}

/* Modal */

.modalOutside{
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);

}

.modalOutside-hide{
    display : none;
}


.modal  {
    background-color : white;
    border-radius: 5px;
    width: 500px;
    padding : 20px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    border : 1px solid black;
    text-align: center;
}

.modal .modifiRandom{
    border : none;
    border-bottom: 1px solid black;
    resize: none;
    width: 100%;
    height: 2em;
    margin-bottom: 15px;
}


.modal .comment_group . id_time{
    margin-right : 0;

}

.modal .comment_group .modal-buttons-group{
    display: flex;
    justify-content: center;
}

.confirmBtn{
    background-color: #0066ff;
    color : white;
    padding : 10px 20px;
    margin-right: 5px;
    border-radius: 5px;
}
.cancelBtn{
    background-color: #0066ff;
    color : white;
    padding : 10px 20px;
    border-radius: 5px;
}

.register{
    background-color: #13CE66;
}

/* 로그인 모달 */
.loginModal{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.8);
}

.닫기{
    position : absolute;
    right : 10px;
    top : 10px;
}

.loginModal h1{
    marin : 0;
    margin-bottom: 40px;
}