.body{
    position : relative;
}

.car_detail {
    margin : 0 auto;
    /*width : 80%;*/
    background-color:#e9eaf1;
    padding : 70px 0;
}
.car_detail .container {
    background: url(https://t1.daumcdn.net/media/img-section/auto2017/newauto/bg_newcar2.png) -19% 20px no-repeat;
}
section .img_info{
    padding : 50px;
    text-align: center;
}

.container h1{
    margin-bottom: 20px;
}

.car_img{
   /*transition : all ease-in 500ms;*/
    position : relative;
}
.car_img:hover{
    /* transform : scale(1.1) */
    /*transform : translateX(-40px)*/
}

.car_img .car_photo{
    width : 300px;
}

.car_img .logo_photo{
    width : 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.img_button{
    height : 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/*.img_button .like:hover{*/
/*    background-color: #ff4949;*/
/*    color : white;*/
/*    !* opacity: 0.4; *!*/
/*}*/

.info{
    /*background-color: rgba( 255, 255, 255, 0.3 );*/
    /*padding-right: 20px;*/

}

.company_logo{
    display: flex;
    justify-content: flex-start;
}

/*.company_logo .logo_photo{*/
/*    width : 50px;*/
/*}*/

.description{
    display:flex;
    flex-direction: column;
    text-align: left;
}

.description strong{
    font-size : 1.1rem;
    text-decoration: underline;
}
.description li{
    margin-bottom: 7px;
}
.description span {
    color : #0066ff;
    margin-right : 10px;
    font-weight: bold;
}

.description .like{
    padding : 10px 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    transition : all  1000ms;
    width: 95px;
    position: absolute;
    bottom: 25px;
    right: 30px;
}

/* Comment */


/* Comment */

article .add_comment{
    display : flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: space-around; */
}

article .add_comment .comment_area{
    border: none;
    resize: none;
    border-bottom : 1px solid black;
    width : 100%;
    margin-bottom: 20px;
    height : 30px;

}

.add_comment .submitBtn{
    color : #b6b6b6;
    background-color: #303030;
    padding : 10px 30px;
    border-radius: 5px;
    transition: all 0.5s;
    margin-bottom : 10px;


}

.add_comment .submitBtn:hover{
    color : #fff;
    background-color: #0066ff;
}



article .comment_group {
    display: flex;
    padding: 10px 10px;
    margin-bottom: 17px;
    border-top: 1px solid #cecedc;
    background-color: #fff;

    align-items: center;


}

article .comment_group .icon{
    font-size: 20px;
}

.timeAndId{
    display: flex;
    align-items: center;
}

.timeAndId span{
    color : #cecedc;
}
article .comment_group h3 {
    font-size : 15px;
    margin-right : 8px;
    color : #0066ff;
}

article .comment_group span {
    font-size : 12px;
}

.id_time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.comment_info{
    flex-basis : 80%;
}


.comment_group .comment{
    font-weight: lighter;
}

.comment_group .buttons-group{
    flex-basis : 20%;
    text-align: right;
    position: relative;
    top : 5px;

}
.modified{
    padding : 6px 10px;
    color : #13CE66;
    border-radius : 5px;
    transition: all ease-in 0.5s;
}

.modified:hover{
   transform: scale(1.3);
}


.delete{
    padding : 6px 10px;
    color : #ff4949;
    border-radius : 5px;
    transition: all ease-in 1s;
}

.delete:hover{
   transform: scale(1.3);
}



/* Custom Grid System - Fix container width*/
@media screen and(min-width: 1200px) {
    .container {
        max-width: 960px !important;
    }
}

@media screen and (max-width: 768px) {

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description h1{
        text-align: center;
    }

    .description strong{
        text-align: center;
    }

    .description ul{
        text-align: center;
    }


    .car_img{
        margin-bottom : 20px;
    }

    .like{
        margin-bottom : 20px;
    }

    article .comment_group {
        display: flex;
        flex-wrap: wrap;

    }
}

/* Modal */

.modalOutside{
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);

}

.modalOutside-hide{
    display : none;
}


.modal  {
    background-color : white;
    border-radius: 5px;
    width: 500px;
    padding : 20px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    border : 1px solid black;
    text-align: center;
}

.modal .modifiRandom{
    border : none;
    border-bottom: 1px solid black;
    resize: none;
    width: 100%;
    height: 2em;
    margin-bottom: 15px;
}


.modal .comment_group . id_time{
    margin-right : 0;

}

.modal .comment_group .modal-buttons-group{
    display: flex;
    justify-content: center;
}

.confirmBtn{
    background-color: #0066ff;
    color : white;
    padding : 10px 20px;
    margin-right: 5px;
    border-radius: 5px;
}
.cancelBtn{
    background-color: #ff4949;
    color : white;
    padding : 10px 20px;
    border-radius: 5px;
}

.register{
    background-color: #13CE66;
}

#modal_nickNames{
    color : #0066ff;
}

#modal_reg_dt{
    color : #cecedc;
}
/* 로그인 모달 */
.loginModal{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999;
}

.닫기{
    position : absolute;
    right : 10px;
    top : 10px;
}

.loginModal h1{
    marin : 0;
    margin-bottom: 40px;
}