.signin {
    /*padding: 100px 50px;*/
    height : 100vh;
    background-image: url("/static/Img/spotcar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display : flex;
    justify-content: center;
    align-items: center;
}

.logogo{
    text-align: center;
    margin-bottom: 20px;
}

.signin h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.signin__card {
    width: 400px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #f1f3f5;
    box-shadow: 2px 2px 20px rgba(0, 0, 0 .3);
    padding-bottom : 30px;
    box-shadow: 15px 14px 24px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 15px 14px 24px -12px rgba(0, 0, 0, 0.5);

}
.signin__card h1{
    padding-top : 30px;
    padding-bottom : 10px;
    text-align: center;
}

.main_logo img{
    text-align: center;
    width: 200px;
}

.signin__card form {
    padding: 12px 22px;
}
.signin__card form div {
    font-weight: bold;
}
.signin__card form input {
    width: 100%;
    margin: 8px auto 8px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}

#ID_Input{
    margin-bottom: 30px;
}

#passWord_Input{
    margin-bottom: 30px;
}

.login__join{
    margin-top : 20px;
}
.signin__card form .login__join {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.signin__card form [type="submit"] {
    width: 160px;
    background-color: #0066ff;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.signin__card form #Regist_button {
    background-color: #13CE66;
}
.signin__card form p {
    font-size: 12px;
    color: #000000;
    text-align: center;
}
