#regist_Frame {
    display: block;
    border: 2px solid darkgray;
    border-radius: 5px;
    width: 300px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10% auto 50px auto;

}

#Home {

    margin-top: 10px;
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
}

#GoHome {
    text-decoration-line: none;
    color: inherit;
}

#buttons {
    display: block;
    margin-left: 50px;
    margin-top: 30px;
}

#Regist_button {
    font-size: 5px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: limegreen;
    margin-left: 60px;

}

#Login_button {
    font-size: 5px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: blue;
}


#ID_Input, #passWord_Input {
    padding-top: 5px;
    margin-top: 3%;
    margin-left: 5%;
    width: 250px;
    outline-color: darkgray;
}

#ID {

    margin-top: 20%;
    font-weight: bolder;

    margin-left: 5%;
}

#passWord {
    margin-top: 10%;
    font-weight: bolder;
    margin-left: 5%;
}