#yourMoney,
#yearmoney {
    margin-top: 3%;
    margin-left: 10%;
}

#moneyok {
    font-size: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: red;
}

#your-min-Money, #your-max-Money {
    border: solid 1px black;
    padding-top: 5px;
    padding-bottom: 5px;

}

#money-total {
    margin-left: 13%;

}

#wave {
    padding-left: 30px;
    padding-right: 30px;
    display: inline;

}

#realImage {

    width: 400px;
}

#Image {
    height: 295px;
    border-right: 3px gray solid;
    display: block;
}

#Desc {
    border-left: 3px gray solid;
    width: 300px;
    font-size: 25px;
    padding-left: 30px;

    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 5px;
    display: block;

}

#Total {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 300px;
    display: flex;
    border: solid gray;
}

#Last-Total1,#Last-Total2,#Last-Total3,#Last-Total4 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 150px;
    display: flex;
    border: solid gray;
}

#list {
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin-left: 110px;
    display: block;

}


#list {
    margin-top: 10px;
}

#Last-realImage {
    margin-left: 100px;
    width: 200px;

}

#total-drag {
    display: flex;
}

#d1000, #d2000, #d3000, #d4000, #d5000, #d6000, #d7000, #d8000, #d9000:active {

    width: 100px;
    border: red solid;

}

#drag:active {

    cursor: none;
    margin-left: 10px;
}

#drag {
    border: solid black;
}
