/* Reset Css */

/* Spoqa Han Sans 서체 작용*/
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }


a {
  color: inherit; /* 부모 color색 상속 */
  text-decoration: none;
}

body {
  margin: 0;
  position: relative;
    height: 100vh;
}
button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
