
<!-- Footer -->
<footer class="footer__container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="logoAndDesc">
                    <a class= "wowlogo" href="/"><img src="/static/Img/mainlogo.png" alt="로"></a>
                    <p class="teamDesc">위 내용에 대한 저작권 및 법적 책임은 없으며 항해99 8조 미니프로젝트로 만든 것이니 재미있게 봐주세요. HangHae99 Team-8 MiniProject Your First Car Money?</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                 <div class="menuAndTeam">
                     <div class="menubar">
                         <ul class = "menus">
                             <li class="tagmenu"><a href="/car/list">차량 목록</a></li>
                             <li class="tagmenu"><a href="/car/from-range">연봉별 차량</a></li>
                             <li class="tagmenu"><a href="/login">로그인</a></li>
                             <li class="tagmenu"><a href="/register">회원가입</a></li>
                         </ul>
                     </div>
                     <div class="team">
                         <h3>항해 99 8조 미니프로젝트 팀원들</h3>
                         <div class="teammate">
                             <ul class="members">
                                 <li class="member"><a href="https://github.com/jinseoIT" target="_blank">🧑🏼‍💻 양진성 <span>Github</span></a></li>
                                 <li class="member"><a href="https://github.com/TAE6919" target="_blank">🧑🏼‍💻 김기태 <span>Github</span></a></li>
                                 <li class="member"><a href="https://github.com/baenomstlye" target="_blank">🧑🏼‍💻 배수인 <span>Github</span></a></li>
                                 <li class="member"><a href="https://github.com/kokyusik91" target="_blank">🧑🏼‍💻 고규식 <span>Github</span></a></li>
                             </ul>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</footer>

