<!-- header  -->
<header class="header__container container-fluid">
  <div calss="row">
    <nav class="col-12">
      <div class="header__title">
        <a href="#">첫 차 Money</a>
      </div>


        <div class="header__title">
          <a href="#"><img src="../static/Img/logo.png" alt=""></a>
        </div>

      <ul class="header__menu">
        <li><a href=/car/list>차량 목록</a></li>
        <li><a href="/car/from-range">연봉별 차량</a></li>
      </ul>


      <div class="header__account">
        <li id="login_out_li"></li>
        <li id="join"></li>
      </div>

      <a href="#" class="header__toggleBtn">
        <i class="fas fa-bars"></i>
      </a>
    </nav>
  </div>
    <script src="../../static/JS/header.js"></script>
</header>
