<!-- header  -->
<header class="header__container container-fluid">
  <div class="row">
    <nav class="col-12">
      <div class="header__title">
        <a href="/"><img class="logo_image" src="/static/img/mainlogo.png"  alt="로고"></a>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg=="crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollToPlugin.min.js" integrity="sha512-1OG9UO4krPizjtz/c9iDbjCqtXznBYdJeD4ccPaYfJHzC6F1qoQ3P1bgQ3J8lgCoK5qGVCqsY4+/RKjLDzITVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"
    integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--        <div class="header__title">-->
<!--          <a href="/"><img src="../static/Img/logo.png" alt=""></a>-->
<!--        </div>-->

      <ul class="header__menu">
        <li><a href=/car/list>차량 목록</a></li>
        <li><a href="/car/from-range">연봉별 차량</a></li>
      </ul>


      <div class="header__account">
        <li id="login_out_li"></li>
        <li id="join"></li>
      </div>

      <a href="#" class="header__toggleBtn">
        <i class="fas fa-bars"></i>
      </a>
    </nav>
  </div>
    <script src="../../static/JS/header.js"></script>
</header>
