<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/common/head.html' %}
</head>
<body>
    <!-- header  -->
  {% include '/common/header.html' %}


    <i class="fas fa-sort-up"></i>
    <i class="fas fa-sort-down"></i>
    <button>가격순</button>
    <button>연비순</button>
    <button>출시순</button>
<hr>

<script>
   const orderFtn = (key, orderType) => {
       apiGetOrder(key, orderType)
   }

   const apiGetOrder = (type, orderType) => {
       let url = '';
       if (type == 'price'){
           url = '/api/getCarOrder?orderType='+orderType
       }
       fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
        })
        .then(res => res.json())
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
   }


</script>

</body>
</html>