<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/common/head.html' %}
    <link rel="stylesheet" href="../static/CSS/car.css">
</head>
<body>
    <!-- header  -->
  {% include '/common/header.html' %}


      <!-- 차량 정렬 -->
  <section class="car_order container">
    <div class="row">
        <div class="col-12 car_select_area">
          <a href="javascript:getOrder('price_asc')" class="order_icon active">
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="javascript:getOrder('price_desc')" class="order_icon">
            <i class="fas fa-sort-down"></i>
          </a>
          <a href="javascript:void(0)" class="order_text active">가격순</a>

          <a href="javascript:getOrder('fuel_asc')" class="order_icon on">
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="javascript:getOrder('fuel_desc')" class="order_icon">
            <i class="fas fa-sort-down"></i>
          </a>
          <a href="javascript:void(0)" class="order_text">연비순</a>

          <a href="javascript:getOrder('regDt_asc')" class="order_icon on">
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="javascript:getOrder('regDt_desc')" class="order_icon">
            <i class="fas fa-sort-down"></i>
          </a>
          <a href="javascript:void(0)" class="order_text">출시순</a>
        </div>
    </div>
    <hr>
  </section>

    <!-- 차량 목록 -->
  <section class="container">
    <div class="row">
      <div class="col-12 car_card_area">

        <!--  차량 카드   -->
          {% for carInfo in carList %}
            <div class="car_card">
              <div class="card_img_area">
                <img src="{{ carInfo.car_img }}">
              </div>
              <strong>{{ carInfo.car_name }}</strong>
              <dl>
                <dt>가격</dt>
                <dd class="price">{{ carInfo.car_price_full }}</dd>
                <dt>연식</dt>
                <dd>{{ carInfo.car_age }}</dd>
                <dt>연비</dt>
                <dd>{{ carInfo.car_fuel_efficiency}}</dd>
                <dt>연료</dt>
                <dd>{{ carInfo.car_fuel }}</dd>
              </dl>
            </div>
        {% endfor %}

        </div>

      <!-- 더보기 -->
        <div class="more_btn_container">
          <button onclick="moreList()">
            더보기
            <i class="fas fa-caret-down"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- footer  -->
  {% include '/common/footer.html' %}


<script>
    const orderList = document.getElementsByClassName('order_icon')
    console.log(orderList)
    /* init */
  let page = 1

  /* 더보기 */
  const moreList = () => {
    page += 1
    getCarList(page)
  }

  /* 차량 리스트 호출 */
  const getCarList = (page) => {
    let url = '/api/car-list'
    url += '?page=' + page
    fetch(url, {
      method: 'GET',
      headers : { 'Content-Type': 'application/json'}
    })
    .then(res => res.json())
    .then(data => addCarList(data.carList))
    .catch(error => console.log(error))

  }

  /* 차량 리스트 추가 */
  const addCarList = (list) => {
    let str = '';
    console.log(list)
    for (let i=0; i<list.length;i+=1) {
      str += `<div class="car_card">
        <div class="card_img_area">
          <img src="${list[i].car_img}">
        </div>
        <strong>${list[i].car_name}</strong>
        <dl>
          <dt>가격</dt>
          <dd class="price">${list[i].car_price_full}</dd>
          <dt>연식</dt>
          <dd>${list[i].car_age}</dd>
          <dt>연비</dt>
          <dd>${list[i].car_fuel_efficiency}</dd>
          <dt>연료</dt>
          <dd>${list[i].car_fuel}</dd>
        </dl>
        </div>`;
    }
    document.querySelector('.car_card_area').insertAdjacentHTML('beforeend', str);
  }

   const getOrder = (orderType) => {
        console.log(orderType);
   }

   const apiGetOrder = (type, orderType) => {
       let url = '';
       if (type == 'price'){
           url = '/api/getCarOrder?orderType='+orderType
       }
       fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
        })
        .then(res => res.json())
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
   }

   const orderToggle = e => {
   }
</script>

</body>
</html>