<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '/common/head.html' %}
        <link rel="stylesheet" href="/static/CSS/detail.css">
    </head>
    <body>
        <!-- header  -->
        {% include '/common/header.html' %}

        <input type="hidden" id="carid_info" value="{{ car_id }}">
        {#     body       #}
        <section class="car_detail">

        </section>

        {# 댓글 영역 #}
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>🚗 자동차 토크</h1>
                        <hr>
                        <div class="add_comment">
                            <textarea class="comment_area" placeholder="자동차에 대하여 자유롭게 글을 써주세요!"></textarea>
                            <div class="buttons-group">
                                <button type="submit" class="submitBtn">제출</button>
                                <button type="button">취소</button>
                            </div>
                        </div>
                        <ul class="comment_list">

                            <!--  댓글 리스트  -->
                            <li class="comment_group">

                                <div class="id_time">
                                    <h3>kokyusik91</h3>
                                    <span>2021-10</span>
                                </div>

                                <div class="comment">이 차 개별로임이 차 개이 차 개별로임이 차 개이 차 개별로임이 차 개이 차 개별로임이 차 이 차 개별로임이 차 개이 차
                                    개별로임이 차 이 차 개별로임이 차 개이임이 차 개이 차 개별로임이 차
                                </div>


                                <div class="buttons-group">
                                    <button class="modified"><i class="far fa-edit"></i></button>
                                    <button class="delete"><i class="fas fa-trash-alt"></i></button>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </article>

        {#  수정 페이지 모달창   #}
        <div class="modalOutside modalOutside-hide">
            <div class="modal">
                <div class="comment_group">
                    <div class="id_time">
                        <input type="hidden" id="modal_cmmt_id"/>
                        <h3 id="modal_nickName">닉네임</h3>
                        <span id="modal_reg_dt">2021-02-22</span>
                    </div>
                    <textarea id="modal_content" class="modifiRandom"></textarea>
                    <div class="modal-buttons-group">
                        <button onclick="updateCmmt()" class="confirmBtn" disabled >수정</button>
                        <button class="cancelBtn">취소</button>
                    </div>
                </div>
            </div>
        </div>

        {#  로그인 회원가입 권유 모달창   #}
        <div class="loginModal modalOutside-hide">
            <div class="modal">
                <div class="comment_group">
                    <h1 id="modal_nickName">😡로그인 하시라고요.</h1>
                    <div class="modal-buttons-group">
                        <button class="confirmBtn" onclick="location.href='http://127.0.0.1:5000/user/login'">로그인 하러가기
                        </button>
                        <button class="cancelBtn register"
                                onclick="location.href='http://127.0.0.1:5000/user/register'">회원가입 하러가기
                        </button>
                    </div>
                </div>
                <button class="닫기"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <!-- footer  -->
        {% include '/common/footer.html' %}

        <script src="/static/JS/detail.js"></script>
    </body>
</html>





