<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '/common/head.html' %}
        <link rel="stylesheet" href="../static/CSS/detail.css">
    </head>
    <body>
        <!-- header  -->
        {% include '/common/header.html' %}

        {#     body       #}
        <section class="car_detail">
            <div class="img_info">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="img_button">
                                <div class="car_img">
                                    <img src="https://img1.daumcdn.net/thumb/R380x0/?fname=%2Fmedia%2Fvitraya%2Fauto%2Fimage%2F5cd55c%2F82EF11602099EA14C34589A7899759089E3C27ECD6C803330F_4EVM"
                                         alt="">
                                </div>
                                <button class="like">좋아요</button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="info">
                                <div class="company_logo">
                                    <button><img
                                            src="https://img1.daumcdn.net/thumb/P36x36/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmedia%2Fimg-section%2Fauto2017%2Fcompany%2Fbd40001500p2.png"
                                            alt=""></button>
                                </div>
                                <div class="description">
                                    <h1>볼보 XC60 플러그인 하이브리드 F/L (2세대)</h1>
                                    <strong>2022년형</strong>
                                    <ul>
                                        <li><span>가격</span>8370만원</li>
                                        <li><span>연비</span>10.8km/l</li>
                                        <li><span>연료</span>하이브리드</li>
                                        <li><span>배기량</span>1969cc</li>
                                        <li><span>정원</span>5</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# 댓글 영역 #}
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>자동차 토크</h1>
                        <hr>
                        <div class="add_comment">
                            <textarea class="comment_area" placeholder="안녕하세요"></textarea>
                            <div class="buttons-group">
                                <button type="submit" class="submitBtn">제출</button>
                                <button type="button">취소</button>
                            </div>
                        </div>
                        <ul class="comment_list">

                            <!--  댓글 리스트  -->
                            <li class="comment_group">

                                <div class="id_time">
                                    <h3>kokyusik91</h3>
                                    <span>2021-10</span>
                                </div>

                                <div class="comment">이 차 개별로임이 차 개이 차 개별로임이 차 개이 차 개별로임이 차 개이 차 개별로임이 차 이 차 개별로임이 차 개이 차
                                    개별로임이 차 이 차 개별로임이 차 개이 차 개별로임이 차 이 차 개별로임이 차 개이 차 개별로임이 차 차 개별로임이 차 이 차 개별로임이 차 개이 차
                                    개별로임이 차 차 개별로임이 차 이 차 개별로임이 차 개이 차 개별로임이 차 차 개별로임이 차 이 차 개별로임이 차 개이 차 개별로임이 차
                                </div>


                                <div class="buttons-group">
                                    <button class="modified"><i class="far fa-edit"></i></button>
                                    <button class="delete"><i class="fas fa-trash-alt"></i></button>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </article>

        <div class="modal">
            <input type="text" class="motify_input">
            <button type="button" class="confirmBtn">수정완료!</button>
            <button type="button">취소하기</button>
        </div>

        <script src="../static/JS/detail.js"></script>
    </body>
</html>


