<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '/common/head.html' %}
        <link rel="stylesheet" href="/static/CSS/detail.css">
    </head>
    <body>
        <!-- header  -->
        {% include '/common/header.html' %}
    <div class="detail_page">
         <input type="hidden" id="carid_info" value="{{ carId }}">
        {#     body       #}
        <section class="car_detail">
                  <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="img_button">
                                 <div class="company_logo">
                                </div>
                                <div class="car_img">
                                    <button>
                                        <img class="logo_photo"  src='{{carInfo.car_maker_img}}'  alt='{{carInfo.car_name}}'>
                                    </button>
                                    <img class="car_photo" src='{{carInfo.car_img}}'
                                         alt='{{car_name}}'>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="info">
<!--                                <div class="company_logo">-->
<!--                                    <button><img class="logo_photo"-->
<!--                                            src='{{carInfo.car_maker_img}}'-->
<!--                                            alt='{{carInfo.car_name}}'></button>-->
<!--                                </div>-->
                                <div class="description">
                                    <h1>{{carInfo.car_name}}</h1>
                                    <strong>{{carInfo.car_age}}형</strong>
                                    <ul>
                                         <li><span>가격</span>{{carInfo.car_price_full}}</li>
                                         <li><span>연비</span>{{carInfo.car_fuel_efficiency}}</li>
                                         <li><span>연료</span>{{carInfo.car_fuel}}</li>
                                         <li><span>차타입</span>{{carInfo.car_type}}</li>
                                    </ul>
                                    <button class="like" onclick="addLike('{{ carId }}')">추천</button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
        </section>
        {# 댓글 영역 #}
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>🚗  자동차 토크</h1>
                        <div class="add_comment">
                            <textarea class="comment_area" rows="1" placeholder="이 자동차에 대하여 자유롭게 글을 써주세요!"></textarea>
                            <div class="buttons-group">
                                <button type="submit" class="submitBtn">제출</button>
                            </div>
                        </div>
                        <ul class="comment_list">

                        </ul>
                    </div>
                </div>
            </div>
        </article>

        {#  수정 페이지 모달창   #}
        <div class="modalOutside modalOutside-hide">
            <div class="modal">
                <div class="comment_group">
                    <div class="id_time">
                        <input type="hidden" id="modal_cmmt_id"/>
                        <h3 id="modal_nickName"></h3>
                        <span id="modal_reg_dt"></span>
                    </div>
                    <textarea id="modal_content" class="modifiRandom"></textarea>
                    <div class="modal-buttons-group">
                        <button onclick="updateCmmt()" class="confirmBtn" >수정</button>
                        <button class="cancelBtn">취소</button>
                    </div>
                </div>
            </div>
        </div>

        {#  로그인 회원가입 권유 모달창   #}
        <div class="loginModal modalOutside-hide">
            <div class="modal">
                <div class="comment_group">
                    <h1 id="modal_nickNames">😡로그인 하시라고요.</h1>
                    <div class="modal-buttons-group">
                        <button class="confirmBtn" onclick="location.href='/login'">로그인 하러가기
                        </button>
                        <button class="cancelBtn register"
                                onclick="location.href='/register'">회원가입 하러가기
                        </button>
                    </div>
                </div>
                <button class="닫기"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>

        <!-- footer  -->
        {% include '/common/footer.html' %}

        <script src="/static/JS/detail.js"></script>
        <script>
            /* carId 기준 좋아요 추가 */
            const addLike = (carId) => {
                console.log('버튼누름', carId)
                const token = getCookieValue("token")
                if(token){
                    //authChk()
                     alert('추천 등록을 완료하였습니다!');
                     }
                else{auth()}

            }

            const authChk = () => {
                const url = '/api/auth/check'
                fetch(url, {
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json'}})
                    .then(res => res.json())
                    .then(data => console.log(data))
                    .catch(error => console.error('Error:', error));
                }
        </script>
    </body>
</html>





