<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/common/head.html' %}
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="../static/CSS/login.css">
</head>
<body>

<section class="signin container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="logogo">
            <a class= "main_logo" href=""><img src="/static/img/mainlogo2.png" alt="로"></a>
            </div>
        <div class="signin__card">
                  <h1>로그인</h1>
          <form id="register_Form">
            <span>아이디</span>
            <input id="ID_Input" type="email" placeholder="아이디를 입력하세요.">
            <span>비밀번호</span>
            <input id="passWord_Input" type="password" placeholder="비밀번호를 입력하세요.">
            <div class="login__join">
                <input id="Login_button" type="submit" value="확인">
                <input id="Regist_button" type="submit" value="회원가입">
            </div>
          </form>
        </div>
        </div>
    </div>
</section>
<script src="../static/JS/login.js"></script>
{#{% include '/common/footer.html' %}#}
</body>
</html>