<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>로그인</title>
        <link rel="stylesheet" href="../static/CSS/login.css">
    </head>
    <body>
        <div id="regist_Frame">
            <form id="register_Form">
                <div id="Home">
                    <a id="GoHome" href="/"> 첫차money?</a>
                </div>
                <div id="ID">
                    아이디
                </div>

                <input type="email" id="ID_Input">


                <div id="passWord">
                    패스워드
                </div>

                <input type="password" id="passWord_Input">


                <div id="buttons">
                    <button id="Login_button">로그인</button>
                    <button id="Regist_button">회원가입</button>
                </div>
            </form>
        </div>
        <script src="../static/JS/login.js"></script>

    </body>
</html>