<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '/common/head.html' %}
    <link rel="stylesheet" href="/static/CSS/video.css" />
    <script src="/static/JS/youtube.js" defer></script>
    <link rel="stylesheet" href="../static/CSS/main.css" />
  </head>
  <body>
    <!-- header  -->
    {% include '/common/header.html' %}
    <!-- youtube -->
    <section class="youtube container-fluid">
      <div class="youtube__area row">
        <div id="player" class="video col-12"></div>
      </div>
    </section>
    <!-- 차량 링크 -->
    <section class="container">
      <div class="linkPage">
        <div class="page">
          <a href="/car/from-range" class="text">연봉별 차량 보러가기</a>
          <hr width="95%" />
          <a href="/car/from-range" class="img"></a>
          <button onclick="location.href='/car/from-range'" class="btn">
            연봉별 차량 보러가기
          </button>
        </div>
        <div class="page">
          <a href="/car/list" class="text">국내 차량 보러가기</a>
          <hr width="95%" />
          <a href="/car/list" class="img2"></a>
          <button onclick="location.href='/car/list'" class="btn">
            국내 차량 보러가기
          </button>
        </div>
      </div>
    </section>
    <!-- 중고차 사이트 링크 -->
    <section class="recommend">
      <div class="site">중고차 사이트 TOP4</div>
      <div class="site_content">
        신차가 부담되는 사회초년생들을 위한 중고차 사이트를 소개합니다
      </div>
      <hr class="saler" width="40%" />
      <br width="100%" />
      <div class="usedCarTop4">
        <div class="usedCarSite">
          <a
            target="_blank"
            href="https://www.kcar.com/index.do?gclid=Cj0KCQjws4aKBhDPARIsAIWH0JWU5NPEJ2suy-0MyhYyaqhuM_O6Ra5CtkiAWGpfg8mWhIr-C0wWm0gaAkkdEALw_wcB"
            class="usedCar_a"
          >
          </a>
          <a
            target="_blank"
            href="https://www.kbchachacha.com/?la_gc=TR10062602448&la_src=sa&la_cnfg=134149&gclid=Cj0KCQjws4aKBhDPARIsAIWH0JV4jAcL1q3CYB5XQMBpcKxp1cFGn_-0C4GSBr_fsW9NhYiylu9yxfIaAjUxEALw_wcB"
            class="usedCar_b"
          >
          </a>
          <a
            target="_blank"
            href="http://www.encar.com/index.do"
            class="usedCar_c"
          >
          </a>
          <a
            target="_blank"
            href="https://www.autobell.co.kr:444/main.do?utm_source=google&utm_medium=cpc&utm_campaign=2021june&utm_content=pc_ppl_1&utm_term=%EC%98%A4%ED%86%A0%EB%B2%A8&gclid=Cj0KCQjws4aKBhDPARIsAIWH0JW-AKG_Cw5tym3yT_2YoER5YYDZlk-G1M5tKCfpYbZHgDyqKsFIAZgaAmB_EALw_wcB"
            class="usedCar_d"
          >
          </a>
        </div>
      </div>
    </section>
    {% include '/common/footer.html' %}
  </body>
</html>
