<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/common/head.html' %}
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/static/CSS/money.css"/>
</head>
<body>
{% include '/common/header.html' %}
<h2 id="yearmoney">연봉</h2>

<div id="total-drag">
    <div draggable="true" id="drag">
        ball
    </div>
    <div id="d1000">
        ㅡㅡㅡㅡ
    </div>
    <div id="d2000">
        ㅡㅡㅡㅡ
    </div>
    <div id="d3000">
        ㅡㅡㅡㅡ
    </div>
    <div id="d4000">

    </div>
    <div id="d5000">

    </div>
    <div id="d6000">

    </div>
    <div id="d7000">

    </div>
    <div id="d8000">

    </div>
    <div id="d9000">

    </div>
</div>


<form id="moneyForm">
    <div id="money-total">
        <input disabled name="min-money" id="your-min-Money" type="text"/>
        <button id="moneyok" type="submit">확인</button>
    </div>
</form>


<div id="Total">

</div>
<div id="Last-Total1"></div>
<div id="Last-Total2"></div>
<div id="Last-Total3"></div>
<div id="Last-Total4"></div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<script src="/static/JS/drop.js"></script>
<script>
    const moneyForm = document.querySelector("#moneyForm")
    const subdesc2 = document.querySelector("#list")
    const main = document.querySelector("#Total")

    function preventSubmit(e) {
        e.preventDefault()
        fetch(`/car/from-range?min-money=${your_min_Money.value}`).then(res => res.json()).then(data => {
            const listlive = document.querySelector(`#list`)
            if (listlive == null) {

                writingdiv(data)
            } else {
                deletediv()
                writingdiv(data)
            }
        })
    }
    function deletediv() {
        for(let i=1; i<5; i++){
            document.querySelector(`#Last-Total${i}`).innerHTML = ""
        }
        main.innerHTML = ""
    }

    function writingdiv(data) {
        for (let i = 0; i < data.carlist.length; i++) {
            if (i == 0) {
                const total = template(i, data, "Image","realImage","Desc","main-desc1")
                main.insertAdjacentHTML('beforeend', total);

            } else {
                 const newdiv = document.querySelector(`#Last-Total${i}`)
                 const sublist = template(i,data,"Last-Image","Last-realImage","Last-Desc","list")
                newdiv.insertAdjacentHTML('beforeend', sublist);

            }
        }
    }

    function template(i, data, LastImage,LastrealImage,LastDesc,list) {
       return ` <div id=${LastImage}>
                              <img id=${LastrealImage} src=${data.carlist[i].car_img}>
                                                   </div>
                                            <div id=${LastDesc}>
                                                <h5 id=${list}>
                                        차 이름 : ${data.carlist[i].car_name}
                                                    <br/>
                                          차 가격 : ${data.carlist[i].car_price}
                                                    <br/>
                                      차 크기 : ${data.carlist[i].car_type}
                                                    <br/>
                             차 연비 : ${data.carlist[i].car_fuel_efficiency}

                                                    <br/>

                                                      </h5>
                                                </div>`
    }





    moneyForm.addEventListener("submit", preventSubmit)

</script>
</body>
</html>
