<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/common/head.html' %}
    <link rel="stylesheet" href="../static/CSS/car.css">
    <link rel="stylesheet" href="../static/CSS/range.css">
    <script src="/static/JS/main.js" defer></script>
</head>
<body>
    <!-- header  -->
    {% include '/common/header.html' %}


    <!--연봉 슬라이드 바 -->
    <section class="container__slider_area">
        <h2>연봉 : <span id="price"></span> 만원</h2>
          <div class="slider-container">
            <div class="track">
              <div class="progress"></div>
            </div>
            <div class="thumb">
              <div class="thumb-indicator" onDrop="drop()"></div>
            </div>
          </div>
          <div class="slide_price">
            <h3>2천 만원</h3>
            <h3>1억 2천만원</h3>
          </div>
      </section>

    <!-- 대표 차량 -->
  <section class="container title_car__container">
      <dis class="row">
        <div class="col-12 title_car__area">
        <!--대표 차량 이미지 영역-->

            <div class="img__area">
              <span id="mainCar_name" class="car_name">{{carInfo.car_name}}</span>
                <a href="/car/detail/{{ carInfo._id }}" id="mainCar_detail_link">
                    <img src="{{carInfo.car_img}}"  id ="mainCar_img">
                    <div class="logo">
                        <img src="{{carInfo.car_maker_img}}"  id="mainCar_logo">
                    </div>
                </a>
            </div>
        <!--대표차량 정보 영역-->
            <div class="car_info__area">
              <div class="title_car_info">
                <p class="price">
                  <span>가격</span>
                  <span id="mainCar_price">{{carInfo.car_price_full}}</span>
                </p>
                <dl class="detail_lst">
                  <dt>연식</dt>
                  <dd id="mainCar_age">{{carInfo.car_age}}</dd>
                  <dt>연비</dt>
                  <dd id="mainCar_fuel_effi">{{carInfo.car_fuel_efficiency}}</dd>
                  <dt>연료</dt>
                  <dd id="mainCar_fuel">{{carInfo.car_fuel}}</dd>
                  <dt>차종</dt>
                  <dd id="mainCar_type">{{carInfo.car_type}}</dd>
                </dl>
             </div>
            </div>

        </div>
      </dis>
  </section>

     <!-- car_list -->
  <section class="container">
    <div class="row">
      <div class="col-12 car_card_area">

           <!--  차량 카드   -->
          {% for carInfo in carList %}
            <div class="car_card">
              <a href="/car/detail/{{ carInfo._id }}">
              <div class="card_img_area">
                <div class="logo">
                    <img src="{{carInfo.car_maker_img}}">
                </div>
                    <img src="{{ carInfo.car_img }}">
              </div>
              </a>
              <strong>{{ carInfo.car_name }}</strong>
              <dl>
                <dt>가격</dt>
                <dd class="price">{{ carInfo.car_price_full }}</dd>
                <dt>연식</dt>
                <dd>{{ carInfo.car_age }}</dd>
                <dt>연비</dt>
                <dd>{{ carInfo.car_fuel_efficiency}}</dd>
                <dt>연료</dt>
                <dd>{{ carInfo.car_fuel }}</dd>
              </dl>
            </div>
        {% endfor %}

        </div>
      </div>
    </div>
  </section>

    <!-- footer  -->
{% include '/common/footer.html' %}
<script src="../static/JS/slidebar.js"></script>
<script>
    // window.onload = () => init();

    const init = () => getCarListFromMoney(3000);
    function getCarListFromMoney (money) {
        fetch(`/api/car/from-range?min-money=${money}`)
          .then(res => res.json())
          .then(data => renderData(data))
          .catch(err => console.log(err))
    }

    /* 차량 정보들을 넣어준다. */
    function renderData(data){
        const _list = data.carList;
      if(_list){
        setMainCar(_list[0]);
        setSubCars(_list);
      }
    }

    const setMainCar = (carInfo) => {
        document.querySelector('#mainCar_img').src = carInfo.car_img;
        document.querySelector('#mainCar_logo').src = carInfo.car_maker_img;
        document.querySelector('#mainCar_price').innerText = carInfo.car_price_full;
        document.querySelector('#mainCar_age').innerText = carInfo.car_age;
        document.querySelector('#mainCar_fuel_effi').innerText = carInfo.car_fuel_efficiency;
        document.querySelector('#mainCar_fuel').innertText = carInfo.car_fuel;
        document.querySelector('#mainCar_name').innerText = carInfo.car_name;
        document.querySelector('#mainCar_type').innerText = carInfo.car_type;
        document.querySelector('#mainCar_detail_link').setAttribute('href', `/car/detail/${ carInfo._id }`)
    }

    const setSubCars = (list) => {
        let str = '';
        for (let i=1; i<list.length;i+=1) {
          str += `<div class="car_card">
          <div class="card_img_area">
             <a href="/car/detail/${list[i]._id}">
              <div class="card_img_area">
                <div class="logo">
                    <img src="${list[i].car_maker_img}">
                </div>
                    <img src="${list[i].car_img}">
              </div>
          </a>
          </div>
          <strong>${list[i].car_name}</strong>
          <dl>
            <dt>가격</dt>
            <dd class="price">${list[i].car_price_full}</dd>
            <dt>연식</dt>
            <dd>${list[i].car_age}</dd>
            <dt>연비</dt>
            <dd>${list[i].car_fuel_efficiency}</dd>
            <dt>연료</dt>
            <dd>${list[i].car_fuel}</dd>
          </dl>
          </div>`;
      }
         const cardArea = document.querySelector('.car_card_area');
         cardArea.innerHTML = str;
    }

</script>
</body>
</html>
