<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/common/head.html' %}
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/CSS/register.css">
</head>
<body>

<section class="signin">
        <div class="logogo">
            <a class= "main_logo" href=""><img src="/static/img/mainlogo2.png" alt="로"></a>
        </div>
    <div class="register__card">
        <h1>회원가입</h1>
      <form id="register_Form">
        <span>아이디</span>
        <input id="ID_Input" type="text" placeholder="아이디를 입력하세요.">
        <span>닉네임</span>
        <input id="Nick_Input" type="text" placeholder="닉네임을 입력하세요.">
        <span>비밀번호</span>
        <input id="passWord_Input" type="password" placeholder="비밀번호를 입력하세요.">
        <span>비밀번호 확인</span>
        <input id="passWord_Access_Input" type="password" placeholder="다시한번 입력해주세요.">
        <div class="login__join">
           <input id="Access_button" type="submit" value="확인">
          <input id="cancel_button" class="cancel" type="submit" value="취소">
        </div>
      </form>
  </div>
  </section>
</div>
<script src="../static/JS/register.js"></script>

</body>
</html>