<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/CSS/register.css">
</head>
<body>
<div id="regist_Frame">
    <form id="register_Form">
        <div id="Home">
           <a id="GoHome" href="/"> 첫차money?</a>
        </div>
        <div id="ID">
            아이디
        </div>

        <input type="text" id="ID_Input">

        <div id="Nick">
            닉네임
        </div>

        <input type="text" id="Nick_Input">

        <div id="passWord">
            비밀번호
        </div>

        <input  type="password" id="passWord_Input">

        <div  id="passWord_Access">
            비밀번호 확인
        </div>

        <input type="password" id="passWord_Access_Input">

        <div id="buttons">
            <button id="Access_button" type="submit">확인</button>
            <button id="cancel_button">취소</button>
        </div>


    </form>
</div>
<script src="../static/JS/register.js"></script>

</body>
</html>